[user]
	name = John Isom
	email = John.Isom2001@gmail.com
[color]
	ui = auto
[merge]
	conflictstyle = diff3
[core]
	autorcrlf = true
        editor = nvim
[credential]
	helper = store
	helper = cache
