#!/bin/sh

# My personal xprofile to be executed on xinit

keyboard_id=$(xinput | grep 'AT Translated' | cut -f2 | cut -d = -f2)
touchpad_id=$(xinput | grep 'Synaptics' | cut -f2 | cut -d = -f2)
natural_scrolling_id=$(xinput list-props $touchpad_id | head -4 | tail -1 | colrm 1 34 | colrm 4)
tapping_id=$(xinput list-props $touchpad_id | head -12 | tail -1 | colrm 1 44 | colrm 4)

if [[ $(xrandr --query | grep " connected" | wc -l) == 2 ]]; then
    # Enable 2nd monitor
    /home/john/.screenlayout/dual-monitor.sh

    # Disable touchpad and built-in keyboard
    xinput disable $keyboard_id # keyboard
    xinput disable $touchpad_id # touchpad
else
    # Touchpad niceities
    xinput set-prop $touchpad_id $natural_scrolling_id 1 # natural scrolling
    xinput set-prop $touchpad_id $tapping_id 1 # tapping
fi

# Keyboard repeat rate
xset r rate 200 55

# Fonts
xset +fp /home/john/.local/share/fonts/
