!          !!!!!!!!!!!!!!!!!!!!!!!!!!
!          !!!!                  !!!!
!          !!!!   Colorschemes   !!!!
!          !!!!                  !!!!
!          !!!!!!!!!!!!!!!!!!!!!!!!!!

!                  !!!!!!!!!!!!
!                  !! Custom !!
!                  !!!!!!!!!!!!

! special
!URxvt.theme.Custom.foreground: #DFDFDF
!URxvt.theme.Custom.background: [85]#222222
!URxvt.theme.Custom.cursorColor: #FFB52A

! black
!URxvt.theme.Custom.color0: #000000
!URxvt.theme.Custom.color8: #333333

! red
!URxvt.theme.Custom.color1: #
!URxvt.theme.Custom.color9: #

! green
!URxvt.theme.Custom.color2: #
!URxvt.theme.Custom.color10: #

! yellow
!URxvt.theme.Custom.color3: #
!URxvt.theme.Custom.color11: #

! blue
!URxvt.theme.Custom.color4: #
!URxvt.theme.Custom.color12: #

! magenta
!URxvt.theme.Custom.color5: #
!URxvt.theme.Custom.color13: #

! cyan
!URxvt.theme.Custom.color6: #
!URxvt.theme.Custom.color14: #

! white
!URxvt.theme.Custom.color7: #
!URxvt.theme.Custom.color15: #


!                  !!!!!!!!!!!!!!!!
!                  !! Vimix Ruby !!
!                  !!!!!!!!!!!!!!!!

! special
URxvt.theme.Vimix-Ruby.foreground: #EAEAEA
URxvt.theme.Vimix-Ruby.background: #282828
URxvt.theme.Vimix-Ruby.cursorColor: #F0544C

! black
URxvt.theme.Vimix-Ruby.color0: #282828
URxvt.theme.Vimix-Ruby.color8: #303030

! red
URxvt.theme.Vimix-Ruby.color1: #F0544C
URxvt.theme.Vimix-Ruby.color9: #F1645C

! green
URxvt.theme.Vimix-Ruby.color2: #00C853
URxvt.theme.Vimix-Ruby.color10: #17CD63

! yellow
URxvt.theme.Vimix-Ruby.color3: #EAB937
URxvt.theme.Vimix-Ruby.color11: #F3C847

! blue
URxvt.theme.Vimix-Ruby.color4: #5D8AC3
URxvt.theme.Vimix-Ruby.color12: #4586D8

! magenta
URxvt.theme.Vimix-Ruby.color5: #B045CD
URxvt.theme.Vimix-Ruby.color13: #B756D2

! cyan
URxvt.theme.Vimix-Ruby.color6: #00CCCC
URxvt.theme.Vimix-Ruby.color14: #3FD9D9

! white
URxvt.theme.Vimix-Ruby.color7: #EAEAEA
URxvt.theme.Vimix-Ruby.color15: #FFFFFF

!                  !!!!!!!!!!!!!!!!!!!
!                  !! Monokai Night !!
!                  !!!!!!!!!!!!!!!!!!!

! special
URxvt.theme.Monokai-Night.foreground: #F8F8F8
URxvt.theme.Monokai-Night.background: #1F1F1F
!URxvt.theme.Monokai-Night.cursorColor: #

! black
URxvt.theme.Monokai-Night.color0: #1F1F1F
URxvt.theme.Monokai-Night.color8: #75715E

! red
URxvt.theme.Monokai-Night.color1: #F92672
URxvt.theme.Monokai-Night.color9: #F92672

! green
URxvt.theme.Monokai-Night.color2: #A6E22E
URxvt.theme.Monokai-Night.color10: #A6E22E

! yellow
URxvt.theme.Monokai-Night.color3: #E6DB74
URxvt.theme.Monokai-Night.color11: #E6DB74

! blue
URxvt.theme.Monokai-Night.color4: #6699DF
URxvt.theme.Monokai-Night.color12: #66D9EF

! magenta
URxvt.theme.Monokai-Night.color5: #AE81FF
URxvt.theme.Monokai-Night.color13: #AE81FF

! cyan
URxvt.theme.Monokai-Night.color6: #E69F66
URxvt.theme.Monokai-Night.color14: #E69F66

! white
URxvt.theme.Monokai-Night.color7: #F8F8F2
URxvt.theme.Monokai-Night.color15: #F8F8F2

!                  !!!!!!!!!!!
!                  !! Rigel !!
!                  !!!!!!!!!!!

! special
URxvt.theme.Rigel.foreground: #E6E6DC
URxvt.theme.Rigel.background: [85]#002634
URxvt.theme.Rigel.cursorColor: #FFCC1B

! black
URxvt.theme.Rigel.color0: #00384D
URxvt.theme.Rigel.color8: #517F8D

! red
URxvt.theme.Rigel.color1: #C43061
URxvt.theme.Rigel.color9: #FF5A67

! green
URxvt.theme.Rigel.color2: #7FC06E
URxvt.theme.Rigel.color10: #9CF087

! yellow
URxvt.theme.Rigel.color3: #F08E48
URxvt.theme.Rigel.color11: #FFCC1B

! blue
URxvt.theme.Rigel.color4: #1C8DB2
URxvt.theme.Rigel.color12: #7EB2DD

! magenta
URxvt.theme.Rigel.color5: #C694FF
URxvt.theme.Rigel.color13: #FB94FF

! cyan
URxvt.theme.Rigel.color6: #00CCCC
URxvt.theme.Rigel.color14: #00FFFF

! white
URxvt.theme.Rigel.color7: #77929E
URxvt.theme.Rigel.color15: #B7CFF9

!! URxvt Apperance
URxvt.font: xft:Terminus (TTF):style=Regular:size=12
URxvt.boldFont: xft:Terminus (TTF):style=Regular:size=12
URxvt.italicFont: xft:Terminus (TTF):style=Italic:size=12
URxvt.boldItalicfont: xft:Terminus (TTF):style=Italic:size=12
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 80x24
URxvt.internalBorder: 0
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 32
URxvt.iso14755: false

!! Copy Paste & Other Extensions
URxvt.copyCommand: xclip -i
URxvt.pasteCommand: xclip -o
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

!! Login Shell, Environment Variables, and Other Config
URxvt.loginShell: true
URxvt.scrollWithBuffer: true
URxvt.fading: 3
URxvt.visualBell: false

!! Theme extension
URxvt.perl-ext-common: theme
