!! Colorscheme -- Rigel

! special
URxvt.theme.Rigel.foreground: #E6E6DC
URxvt.theme.Rigel.background: [85]#002634
URxvt.theme.Rigel.cursorColor: #FFCC1B

! black
URxvt.theme.Rigel.color0: #00384D
URxvt.theme.Rigel.color8: #517F8D

! red
URxvt.theme.Rigel.color1: #C43061
URxvt.theme.Rigel.color9: #FF5A67

! green
URxvt.theme.Rigel.color2: #7FC06E
URxvt.theme.Rigel.color10: #9CF087

! yellow
URxvt.theme.Rigel.color3: #F08E48
URxvt.theme.Rigel.color11: #FFCC1B

! blue
URxvt.theme.Rigel.color4: #1C8DB2
URxvt.theme.Rigel.color12: #7EB2DD

! magenta
URxvt.theme.Rigel.color5: #C694FF
URxvt.theme.Rigel.color13: #FB94FF

! cyan
URxvt.theme.Rigel.color6: #00CCCC
URxvt.theme.Rigel.color14: #00FFFF

! white
URxvt.theme.Rigel.color7: #77929E
URxvt.theme.Rigel.color15: #B7CFF9

!! URxvt Apperance
URxvt.font: xft:Terminus (TTF):style=Regular:size=12
URxvt.boldFont: xft:Terminus (TTF):style=Regular:size=12
URxvt.italicFont: xft:Terminus (TTF):style=Italic:size=12
URxvt.boldItalicfont: xft:Terminus (TTF):style=Italic:size=12
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 80x24
URxvt.internalBorder: 0
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 32
URxvt.iso14755: false

!! Copy Paste & Other Extensions
URxvt.copyCommand: xclip -i
URxvt.pasteCommand: xclip -o
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

!! Login Shell, Environment Variables, and Other Config
URxvt.loginShell: true
URxvt.scrollWithBuffer: true
URxvt.fading: 3
URxvt.visualBell: false

!! Theme extension
URxvt.perl-ext-common: theme
