[Unit]
Description=Kakoune Daemon
Documentation=https://github.com/mawww/kakoune

[Service]
Type=forking
ExecStart=/usr/bin/kak -s mysession -d
ExecStop=/usr/bin/bash -c "kill $(pgrep kak | head -1)"
Restart=always

[Install]
WantedBy=default.target
