[Unit]
Description=URxvt Daemon
Documentation=https://linux.die.net/man/1/urxvtd

[Service]
ExecStart=/usr/bin/urxvtd
ExecStop=/usr/bin/bash -c "/usr/bin/killall -q urxvtd && rm /home/john/.urxvt/urxvtd-jubuntu"
Restart=always

[Install]
WantedBy=default.target
