[Unit]
Description=URxvt Daemon
Documentation=https://linux.die.net/man/1/urxvtd

[Service]
Type=forking
ExecStart=/usr/bin/urxvtd -f
ExecStop=/usr/bin/urxvtc -k
Restart=always

[Install]
WantedBy=default.target
